.pokedex {
    padding: 100px 200px 100px 200px;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.pokedex__title {
    font-family: "Montserrat",sans-serif;
    font-weight: 800;
    font-size: 2.9rem;
    margin-left: 30px;
}
.pokedex__subtitle {
    font-family: "Montserrat",sans-serif;
    text-align: left;
    padding: 10px 0 40px 30px;
    font-size: 1.1rem;
}
@keyframes rotate {from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}}
@-webkit-keyframes rotate {from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(360deg);}}

.pokedex__spinner  {
    background-image: url(/pokeball.png);
    position: fixed;
    -webkit-filter: brightness(200%);
    filter: brightness(200%);
    z-index: -1;
    right: -90px;
    top: -40px;
    background-size: cover;
    height: 400px;
    width: 400px;
    animation-direction: reverse;
    animation: rotate 3s linear infinite;
    transform-origin: 50% 50%;
}
ul {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    list-style-type: none;
    justify-content: center;
    padding: 0px;  
}
.config {
    background: #6c79db;
    height: 60px;
    width: 60px;
    position: fixed;
    bottom: 40px;
    right: 40px;
    box-shadow: 2px 2px 8px rgba(0,0,0,.6);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}
.bx-cog {
    color: white;
}
.pokedex__exit button {
    position: fixed;
    right: 40px;
    top: 40px;
    background: #40ff2f;
    box-shadow: 1px 1px 7px rgba(0,0,0,.5);
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 0;
    outline: 0;
    font-size: 1.7rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bx-log-in {
    color: white;
    margin-right: 6px;
}