.modal, .unseen  {
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 999;
    background-color: #80808081;
    display: none;
    justify-content: center;
    align-items: center;
  }
  .modal.is-Open{
      display: flex;
  }
  .unseen.is-Unseen{
      display: flex;
  }
  .encounters {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 10px;
    gap: 20px;
  }
