@import url(/src/styles/PokemonDetail.css);
@import url(/src/styles/Pagination.css);
@import url(/src/styles/Pokedex.css);
@import url(/src/styles/ButtonSwitch.css);
@import url(/src/styles/Home.css);
@import url(/src/styles/PokemonCard.css);
@import url(/src/styles/SearchByName.css);
@import url(/src/styles/PokemonTypes.css);
@import url(/src/styles/Config.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100vh;
}
@media (max-width: 932px) and (orientation: landscape) { 
/*Home*/
.home__items {
  gap: 0px;
}

.home__items img {
  height: 350px;
}

.items__title {
  height: 350px;

}


}
@media screen and (max-width: 768px) {

  /*responsive Home */
    .home__items {
      flex-direction: column;
    }
    .home__input {
      padding-top: 0px;
      position: relative;
      top: 30px;
    }
    .home__input input {
      box-shadow: -10px -10px 15px rgba(58,58,58,.09019607843137255), 10px 10px 15px rgba(66,66,66,.34901960784313724);
    }
    .items__title {
      display: flex;
      align-items: center;
    }
    .ash-img {
     height: 300px;
    }
    /* responsive Search by name */
    .search-name {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .search-name button {
      position: absolute;
      left: auto;
    }
     /* responsive Pokedex */
     .pokedex {
      padding: 10px;
    }
    select {
      max-width: 300px;
    }
    
    .pagination__num {
      width: 35px;
      height: 29px;
      font-size: 0.8rem;
    }
    .settings__items {
      width: 300px;
    }
   

    /*responsive Pokemon Detail*/
    .poke {
      margin-left: 10px;
    }
    .container-banner {
      margin-bottom: 0px;
      flex-direction: column;
      gap: 0px;
      align-items: center;
    }
    .col-info img {
      height: 190px;
    }
    .col__first {
      bottom: 0px;
    }
    .col__first h3 {
      font-size: 1rem;
    }
    .col__second {
      bottom: 0px;
    }
    .button-encounter {
      top: 0px;
    }
    .row-info, .col-info {
      height: 350px;
    }
    }
  @media (max-width: 740px) and (orientation: landscape) { 
      /*Home*/
    
      .home__items img {
        height: 100px;
      }
      
  }
 @media screen and (max-width: 430px) {
   /* responsive Search by name */
   
  .search-name button {
    position: absolute;
      left: 10px;
  }
  #InputId::placeholder {
    font-size: 0.8rem;
  }
  .config, .pokedex__exit button {
      right: 5px;
  }
  .poke-img {
    width: 300px;
  }
  .col-info img {
    height: 130px;
  }
  .encounters--text {
   text-align: center;
    width: 300px;
  }
}





